<div class="group">
  <div class="group-icon">
    <%= group.icon %>   
  </div>

  <div class="group-info">
    <p>
      <strong><%= group.name %></strong>
    </p>
    <p>
      <strong><span>$<%= group.establishments.sum(:amount) %></span></strong>
    </p>
  </div>

</div>
