<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= group.icon %>
  </p>

  <p>
    <strong>Total:</strong>
    <span>$<%= group.establishments.sum(:amount) %></span>
  </p>

</div>
