<div class="splash-screen-container">
    <h1 class="application-title">Mah Budget</h1>
    <div class="login-buttons">
    <%= link_to 'LOG IN', new_user_session_path, class: 'sign-in-button' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'sign-up-button' %>
    </div>
</div>
