@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.cdnfonts.com/css/goligan');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Proxima Nova', sans-serif;
}

:root {
  --color-1: #3778c2;
  --color-2: #5fb523;
  --color-3: #434b54;
  --color-4: #f1f3f2;
}

body {
  background-color: #434b54;
}

a {
  color: white;
}