.button-1 {
  padding: 5px;
  background-color: var(--color-1);
  color: white;
  border: 1px solid lightgray;
  width: fit-content;
  font-size: 16px;
  min-width: 175px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.create-group-button input {
  padding: 5px;
  background-color: var(--color-1);
  color: white;
  border: 1px solid lightgray;
  width: fit-content;
  font-size: 16px;
  min-width: 175px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.registration-button input {
  padding: 5px;
  background-color: var(--color-1);
  color: white;
  border: 1px solid lightgray;
  width: fit-content;
  font-size: 16px;
  min-width: 175px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.back-button {
  padding: 5px;
  background-color: lightgray;
  color: var(--color-3);
  border: 1px solid lightgray;
  width: fit-content;
  font-size: 16px;
  min-width: 175px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.green-button-div {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 75px;
  border: 1px solid white;
  color: white;
  text-align: center;
  background-color: var(--color-2);
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.green-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
}

.cancel-account-button {
  padding: 5px;
  background-color: rgb(197, 48, 48);
  color: white;
  border: 1px solid lightgray;
  width: fit-content;
  font-size: 16px;
  min-width: 175px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}