.establishments-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.establishments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.establishment {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
}