.establishments-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 100px;
}

.establishments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.establishments a {
  color: var(--color-3);
}

.establishment {
  background-color: white;
  border: 1px solid lightgrey;
  display: flex;
  position: relative;
  padding: 10px;
  gap: 10px;
}

.establishment-icon {
  border: 1px solid lightgray;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #3778c260;
}

.establishment-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.establishment-date {
  position: absolute;
  left: 55px;
  bottom: 0;
  padding: 10px;
}