<p style="color: green"><%= notice %></p>

<h1>Establishments</h1>

<div id="establishments">
  <% @establishments.each do |establishment| %>
    <%= render establishment %>
    <p>
      <%= link_to "Show this establishment", establishment %>
    </p>
  <% end %>
</div>

<%= link_to "New establishment", new_establishment_path %>
